 <%- include('header.html') %>
    <main>
        <section class="main-section">
            <h2 class="main-title">Albuns</h2>
            <div class="albuns">
                <a href="#" class="capa">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="capa album">
                </a>
                <a href="#" class="capa">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="capa album">
                </a>
                <a href="#" class="capa">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="capa album">
                </a>
                <a href="#" class="capa">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="capa album">
                </a>
                <a href="#" class="capa">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="capa album">
                </a>
                <a href="#" class="capa">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="capa album">
                </a>
                <a href="#" class="capa">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="capa album">
                </a>
                <a href="#" class="capa">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="capa album">
                </a>
            </div>
        </section>
    </main>
 <%- include('footer.html') %>