 <%- include('header.html') %>
    <div class="main-content">
        <input type="submit" value="Baixar Album">
    <section class="content">
        <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="">
        <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="">
        <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="">
        <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="">
        <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="">
        <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="">
        <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="">
        <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" alt="">
    </section>
    </div>
 <%- include('footer.html') %>