<%- include('header.html'); %>
<main> 
    <div class="main-full">
        <h1 class="main-title">
            Categorias
        </h1>
        <div class="galeria">
            <div class="galery-item">
                <a href="#" class="galery-link">Ensaio 1</a>
            </div>
            <div class="galery-item">
                <a href="#" class="galery-link">Ensaio 2</a>
            </div>
            <div class="galery-item">
                <a href="#" class="galery-link">Ensaio 3</a>
            </div>
            <div class="galery-item">
                <a href="#" class="galery-link">Ensaio 4</a>
            </div>
            <div class="galery-item">
                <a href="#" class="galery-link">Ensaio 5</a>
            </div>
        </div>
    </div>
</main>
<%- include('footer.html'); %>