<footer>
    <img src="/img/logo2.png" alt="" class="footer-logo">
    <nav class="footer-nav">
        <ul class="footer-list">
            <a href="#" class="footer-link">
                <i data-feather="mail"></i>
                E-mail
            </a>
            <a href="#" class="footer-link">
                <i data-feather="instagram"></i>
                Instagram
            </a>
            <a href="#" class="footer-link">
                <i data-feather="message-circle"></i>
                Whatsapp
            </a>
            <a href="#" class="footer-link">
                <i data-feather="facebook"></i>
                Facebook
            </a>
        </ul>
    </nav>
</footer>
    <script src="https://unpkg.com/feather-icons"></script>
    <script> feather.replace() </script>
</body>
</html>