<%- include('header.html') %>
<main>
    <section class="main-section">
        <h2 class="main-title">Trabalhos Recentes</h2>
        <div class="galeria">
            <div class="recentes">
                    <img src="img/unknown2.png" alt="TESTE">
                    <img src="img/unknown2.png" alt="TESTE">
                    <img src="img/unknown2.png" alt="TESTE">
                    <img src="img/unknown2.png" alt="TESTE">
                    <img src="img/unknown2.png" alt="TESTE">
                    <img src="img/unknown2.png" alt="TESTE">
            </div>
            <div class="outros">
                <a href="#" class="img">img</a>
                <a href="#" class="img">img</a>
                <a href="#" class="img">img</a>
                <a href="#" class="img">img</a>
                <a href="#" class="img">img</a>
                <a href="#" class="img">img</a>
                <a href="#" class="img">img</a>
                <a href="#" class="img">img</a>
                <a href="#" class="img">img</a>
                <a href="#" class="img">img</a>
            </div>
        </div>
    </section>

    <section class="main-section">
        <h2 class="main-title">Categorias</h2>
        <div class="categorias">
            <a href="/album" class="categoria">ensaio x</a>
            <a href="/album" class="categoria">ensaio x</a>
            <a href="/album" class="categoria">ensaio x</a>
        </div>
    </section>

    <section class="main-section">
        <h2 class="main-title">Sobre Mim</h2>
        <div class="about-me">
            <div class="img"></div>
            <div class="about">
                <p>Texto falando um pouco sobre mim</p>
            </div>
        </div>
    </section>
</main>
<%- include('footer.html') %>