<%- include('header.html') %>
    <main>
        <h2 class="main-title">Trabalhos Recentes</h2>
        <section class="galery">
            <div class="galery-main-content">
                <img src="/img/wallhaven-6olw9x.jpg" class="galery-main" alt="">
                <img src="/img/wallhaven-e7ek7k.jpg" class="galery-main" alt="">
                <img src="/img/wallhaven-g7jg63.png" class="galery-main" alt="">
                <img src="/img/wallhaven-z8odwg.jpg" class="galery-main" alt="">
            </div>
            <div>
                <a href="/album">
                    <img src="/img/c3e085a64e8aedb36feeca19e4113198.jpg" class="galery-card" alt="teste">
                </a>
                <a href="/album">
                    <img src="/img/alone-boy-standing-thinking-lovesove.jpg" class="galery-card" alt="teste">
                </a>
                <a href="/album">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" class="galery-card" alt="teste">
                </a>
                <a href="/album">
                    <img src="/img/c3e085a64e8aedb36feeca19e4113198.jpg" class="galery-card" alt="teste">
                </a>
                <a href="/album">
                    <img src="/img/alone-boy-standing-thinking-lovesove.jpg" class="galery-card" alt="teste">
                </a>
                <a href="/album">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" class="galery-card" alt="teste">
                </a>
                <a href="/album">
                    <img src="/img/c3e085a64e8aedb36feeca19e4113198.jpg" class="galery-card" alt="teste">
                </a>
                <a href="/album">
                    <img src="/img/alone-boy-standing-thinking-lovesove.jpg" class="galery-card" alt="teste">
                </a>
                <a href="/album">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" class="galery-card" alt="teste">
                </a>
                <a href="/album">
                    <img src="/img/c3e085a64e8aedb36feeca19e4113198.jpg" class="galery-card" alt="teste">
                </a>
                <a href="/album">
                    <img src="/img/alone-boy-standing-thinking-lovesove.jpg" class="galery-card" alt="teste">
                </a>
                <a href="/algum">
                    <img src="/img/1e935fa132618c0f09e9e848ed9b7538.jpg" class="galery-card" alt="teste">
                </a>
            </div>
        </section>

        <h2 class="main-title">Outras Categorias</h2>
        <section class="categoria">
            
            <a class="card" href="#">
                <img src="/img/folder_my_pictures_15433.png" alt="teste">
                <figcaption>Casamentos</figcaption>

            </a>
            <a class="card" href="#">
                <img src="/img/folder_my_pictures_15433.png" alt="teste">
                <figcaption>Batizados</figcaption>

            </a>
            <a class="card" href="#">
                <img src="/img/folder_my_pictures_15433.png" alt="teste">
                <figcaption>Aniversários</figcaption>

            </a>
            <a class="card" href="#">
                <img src="/img/folder_my_pictures_15433.png" alt="teste">
                <figcaption>Festas</figcaption>

            </a>
            <a class="card" href="#">
                <img src="/img/folder_my_pictures_15433.png" alt="teste">
                <figcaption>Não sei Mais</figcaption>

            </a>
            <a class="card" href="#">
                <img src="/img/folder_my_pictures_15433.png" alt="teste">
                <figcaption>To sem Ideias</figcaption>

            </a>
        </section>

        <section class="about">
            <img src="/img/c3e085a64e8aedb36feeca19e4113198.jpg" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi vitae quidem distinctio aliquam hic facilis quae, totam labore, aliquid iusto corrupti repudiandae at veritatis natus vero! Architecto eos ipsam nobis!</p>
        </section>
    </main>
    <%- include('footer.html') %>