<%- include('header.html'); %>
<main>

    <div class="slide-alter">
        <buttom class="seta-l seta"><</buttom>
        <buttom class="seta-r seta">></buttom>
        <div class="slide-img">
            <img src="/img/logo.png" alt="" class="slide-item">
            <img src="/img/grafite.jpg" alt="" class="slide-item">
            <img src="/img/tribal.jpg" alt="" class="slide-item">
            <img src="/img/logo2.png" alt="" class="slide-item">
        </div>
    </div>

    <section class="main-section-flex-mobile-col">
        <div class="pacotes">
            <a href="/ensaios" class="pacote-link">Categoria</a>
        </div>
        <div class="pacotes">
            <a href="/ensaios" class="pacote-link">Categoria</a>
        </div>
        <div class="pacotes">
            <a href="/ensaios" class="pacote-link">Categoria</a>
        </div>
    </section>

    <section class="main-section-flex-row">
            <img src="/img/tribal.jpg" alt="foto do gofografo" class="sobre-img">
            <p class="sobre-txt">
                texto demostrativo que estou escreevendo do nada e nem sei oque estou digitando meu deus, saudades das boas ideias
            </p>
    </section>

</main>
<script src="js/responsive.js"></script>

<%- include('footer.html'); %>