<%- include('header.html'); %>
<main> 
    <div class="main-full">
        <h1 class="main-title">
            Conheça os Pacotes
        </h1>
        <div class="galeria">
            
            <h1 class="main-title">
                Pacotes Principais
            </h1>
            <div class="pacote-item">
                <img src="" alt="foto" class="pacote-img">
                <ul class="pacote-list">
                    <h2 class="main-title">
                        Pacote Casamento
                    </h2>
                    <li>
                        Ensaio com até 300 fotos
                    </li>
                    <li>
                        Fotos com qualidade 4k
                    </li>
                </ul>
            </div>
            <div class="pacote-item reverse">
                <img src="" alt="foto" class="pacote-img">
                <ul class="pacote-list">
                    <h2 class="main-title">
                        Pacote Batizado
                    </h2>
                    <li>
                        Ensaio com até 300 fotos
                    </li>
                    <li>
                        Fotos com qualidade 4k
                    </li>
                </ul>
            </div>
        </h1>
        <h1 class="main-title">
            Outros Pacotes
        </h1>
        <div class="outro-pacote ">
            <img src="" alt="foto" class="outro-pacote-img">
            <ul class="outro-pacote-list">
                <h2 class="main-title">
                    Pacote Batizado
                </h2>
                <li>
                    Ensaio com até 300 fotos
                </li>
                <li>
                    Fotos com qualidade 4k
                </li>
            </ul>
        </div>
        <div class="outro-pacote ">
            <img src="" alt="foto" class="outro-pacote-img">
            <ul class="outro-pacote-list">
                <h2 class="main-title">
                    Pacote Batizado
                </h2>
                <li>
                    Ensaio com até 300 fotos
                </li>
                <li>
                    Fotos com qualidade 4k
                </li>
            </ul>
        </div>
        <div class="outro-pacote ">
            <img src="" alt="foto" class="outro-pacote-img">
            <ul class="outro-pacote-list">
                <h2 class="main-title">
                    Pacote Batizado
                </h2>
                <li>
                    Ensaio com até 300 fotos
                </li>
                <li>
                    Fotos com qualidade 4k
                </li>
            </ul>
        </div>
        </div>
    </div>
</main>
<%- include('footer.html'); %>