<%- include('header.html') %>
    <main>
        <section class="main-section">
            <h2 class="main-title">Principais Pacotes</h2>
            <div class="pacote-x left">
                <div class="pct-img"><'img /'></div>
                <div class="pct-content">
                    <div class="pct-descr"x>
                        <h2 class="pct-title">Casamentos</h2>
                        <p class="pct-p">- Ensaio com até 300 fotos</p>
                        <p class="pct-p">- Fotos com qualdiade 4k</p>
                    </div>
                    <a class="pct-solic">
                        Solicitar Orçamento
                    </a>
                </div>
            </div>
            <div class="pacote-x right surgir" >
                <div class="pct-img"><'img /'></div>
                <div class="pct-content">
                    <div class="pct-descr"x>
                        <h2 class="pct-title">Batizados</h2>
                        <p class="pct-p">- Ensaio com até 300 fotos</p>
                        <p class="pct-p">- Fotos com qualdiade 4k</p>
                    </div>
                    <a class="pct-solic">
                        Solicitar Orçamento
                    </a>
                </div>
            </div>
        </section>
        <section class="main-section">
            <h2 class="main-title">Outros Pacotes</h2>
            <div class="outros-pacotes surgir">
                <div class="pacote-y">
                    <div class="pct-img-y"><'img /'></div>
                    <div class="pct-descr-y">
                        <h2 class="pct-title-y">Pacote</h2>
                        <p class="pct-p-y">- Ensaio com até 120 fotos</p>
                        <p class="pct-p-y">- Fotos com qualdiade 4k</p>
                    </div>
                    <div class="pct-solic-y">
                        Solicitar Orçamento
                    </div>
                </div>
                <div class="pacote-y">
                    <div class="pct-img-y"><'img /'></div>
                    <div class="pct-descr-y">
                        <h2 class="pct-title-y">Pacote</h2>
                        <p class="pct-p-y">- Ensaio com até 250 fotos</p>
                        <p class="pct-p-y">- Fotos com qualdiade 4k</p>
                    </div>
                    <div class="pct-solic-y">
                        Solicitar Orçamento
                    </div>
                </div>
                <div class="pacote-y">
                    <div class="pct-img-y"><'img /'></div>
                    <div class="pct-descr-y">
                        <h2 class="pct-title-y">Pacote</h2>
                        <p class="pct-p-y">- Ensaio com até 500 fotos</p>
                        <p class="pct-p-y">- Fotos com qualdiade 4k</p>
                    </div>
                    <div class="pct-solic-y">
                        Solicitar Orçamento
                    </div>
                </div>
            </div>
        </section>

        </div>
    </main>
<%- include('footer.html') %>