.galeria{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.recentes{
    height: 65%;
    width: 80%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: scroll;
}
.recentes > img{
    height: 100%;
    width: 100%;
    animation: slide 10s infinite alternate-reverse;
    animation-play-state: running;
    
}
.outros{
    height: 30%;
    width: 80%;
    border-radius: 8px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}
.outros > .img{
    display: inline-block;
    height: 90%;
    width: 20%;
    background: gray;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    line-height: 2em;
    margin-left: 4%;
}
.outros::-webkit-scrollbar {
    height: .5em;
    width: 15px;
  }
.outros::-webkit-scrollbar-thumb {
    background: #31CB00;
    border-radius: 8px;
}
.outros > .img:hover{
    opacity: .7;
}
.recentes::-webkit-scrollbar {
    display: none;
  }
.outros > .img:hover{
    opacity: .7;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    22%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-80.6vw);
    }
    47%{
        transform: translateX(-80.6vw);
    }
    50%{
        transform: translateX(-160.6vw);
    }
    72%{
        transform: translateX(-160.6vw);
    }
    75%{
        transform: translateX(-240.9vw);
    }
    97%{
        transform: translateX(-240.9vw);
    }
    100%{
        transform: translateX(0);
    }
}